

:root{
    --colorTema:#fadcaa;
    --colorSecundario: #8a5183c5;
    --colorTexto: #f5f5f5;
    --colorBoxes: #8675a9e3;
    --colorTerciario: #8a518369;
}

body{ 
    /* Background Image Characteristics */
    background-image:url(media/pokemongif.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(110, 91, 216, 0.733);
    background-blend-mode:luminosity, multiply;
    
    /*Fixed footer shit*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;

} 

main {
    flex: 1 0 auto;
}

/*Button // Botón*/
button{
    background-color: rgba(255, 255, 255, 0) !important;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 10%;
    right: 1%;
    border: 0;
    border-radius: 100%;

}

button:visited, button:active, button:hover{
    background-color:  rgba(255, 255, 255, 0) !important;
}
/* End Button // Fin Botón*/

/* Intento de footer */
/*
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #794c74;
    width: 100%;
    display: flex;
    border: 15px solid #794c74;
    padding-top: 10px;
}

.footer-left{
    width: 20%;
    background-color: #8a5183c5;
}
.footer-center{
    border:15px;
    background-color: #8a5183c5;
    text-align: left;
    width: 35%;
}
.footer-right{
    margin-top:1em;
    
    background-color: #8a5183c5;
    width: 45%;
    text-align: left;
    font-size: 25px;
    margin-right: 1.3em;
    padding-right: 1.3em;
}
.footerlinks{

    display: inline-block;
    color: #fadcaa;
    text-decoration: none;
    font-size: large;
}
.margen{
    line-height: 1.6;
}*/

/*Links characteristics // Características*/
a:link, a:visited
{
    color:var(--colorTema);
    text-decoration: none;

}

a:active, a:hover
{
    color: #b2deec;
    text-decoration: underline;
}
/*End Links characteristics // Características*/
/*
.Copy{
    color: #fadcaa;
    font-style: italic;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30%;
    bottom:0;

}*/

/*Colors // Colores*/
.colorTema
{
    color:var(--colorTema);
}

.colorSecundario
{
    background-color: var(--colorSecundario) !important;
}

.colortexto
{
    color:var(--colorTexto);
    
}

.colorBoxes
{
    background-color: var(--colorBoxes);
}

.colorTerciario
{
    color:var(--colorTerciario);
}

/*End Colors // Fin Colores*/

/*Alignment // Margin // Posición // Margen*/
.center
{
    text-align:center;
    margin:auto;
}

.right
{
    text-align: right;
    margin-left:auto;
    margin-right: 1%;
}

.textmargin
{
    margin-left: 2em;
}

.textright
{
    margin-left: 50%;
}
/*End Alignment // Margin // Posición // Margen*/

/*Headers, titles, títulos*/

.title{
    /* Title */
    font-family:monospace;
    font-size: 1.875em;
    color: var(--colorTema);
    text-align: center;
    /*Caja*/
    background-color: #794c74;
    width: 20.250em;
    border-color: var(--colorSecundario);
    border-width: 0.500em;
    border-style: solid;
    padding:1em;
    margin:auto;
    margin-top: 1em;
}

.SecondaryTitles{
    color: #e4dede;
    background-color: #8675a9ce;
    text-align: left;
    font-family: monospace;
    width: fit-content;
    padding: 5px;
    border: 7px;
    border-style: solid;
    border-color: var(--colorTerciario);

}

/*Containers*/
.textbox{
    background-color: var(--colorBoxes);
    width: 40%;
    overflow:hidden;
    margin: 10px;
    clear:both;
    float: left;
    padding: 10px;
    border: 10px solid #8a518333;
    
}
/*End Containers*/

/*Text // Texto*/
.normalsize{
    font-size: large;
}
/*End Text // Fin texto*/

/*Size // Tamaño*/

.logo
{
    width: fit-content;
    height: fit-content;
}

/*End Size // Fin Tamaño*/

/*No sé en que categoría ponerlo // Otros // Others*/
.border
{
    border: 10px solid var(--colorTerciario);
    background-color: var(--colorTerciario);
}

/*Fin No sé en que categoría ponerlo // Otros // End Others*/
